/*  mlBench by Dan McKeown http://danmckeown.info  */
/*  copyright 2017 */
/*  global.css  */

/* All CSS is currently injected inside JSX-flavored <style></style> tags inside specific components */
